body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: lightskyblue;
  margin: 0;
}

nav {
  padding: 1%;
  background-color: rgb(163, 208, 235);
  text-transform: uppercase;
}

nav a {
  margin: 0 2%;
}
.container {
  padding: 50px;
}

a {
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 1%;
  background-color:lightsteelblue
}
